*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;


}
.body {
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color:black;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: transparent;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;


}
.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;

}
.navbar a{
    display: inline-block;
    font-size: 18px;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));




}
.navbar a:hover,
.navbar a.active {
    
    color: #212529;

}
.home{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
    background-color:lightslategray;

}
.home-content{
    max-width: 600px;
}
.home-content h3{
    font-size:32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
    color: white;

}
.home-content h3 span{
    color: blue;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
    
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
    color:violet;
    
}

.home-content p{
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;

}

.home-img img{

    max-width: 450px;
    margin-right: -10px;
    width: 350px;
    height: 350px;
    border-radius: 30%;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}
.about{
    background-color:lightcyan;
}
.about .row .content p{
    font-size: 1.7rem;
    color:rgb(255, 20, 220);
    line-height: 2;
    padding:1rem 0;
    text-align: center;
}
.about .row .content h3{
    font-size: 3.5rem;
    color:black;
    line-height: 1.8;
    text-align: center;
}
h1.heading{
    font-size: 5rem;
    color: gray;
    text-align: center;

}
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));

}
.social-media a:hover {
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;



}
.btn{
    display: inline-block;
    padding: 12px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
}
.service .accordion{
    margin-left: 300px;
    margin-bottom: 100px;
}
div.accordion-body{
    color:black (255, 20, 220);
}
.contact form{
    margin:1rem auto;
    max-width: 80rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding:2rem;
    margin-top: 5rem;
}
.contact .social-media{
    margin-left: 50px;
    text-align: left;
}
/*KEYFRAMES ANIMATION */
@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
    
}
@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
    
}

@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
    
}
@keyframes slideLeft {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
    
}

@keyframes zoomIn {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
    
}

@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-24);

    }
    100%{
        transform: translateY(0);

    }
    
}
@media (max-width: 991px) {
        section {
                    padding: 10rem 3% 2rem;
    }
}

@media (max-width: 450px) {
        html {
                    font-size: 50%;
    }
}
